input[type='checkbox'] {
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

ul {
  list-style-type: none;
}

.inner-container {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  top:150px;
  left:50px;
  right:700px;
  height:300px;
  overflow-y: scroll;
 }

#header {
    width: 100%;
    background-color: red;
    height: 30px;
}

.options
{
  position:absolute;
  top:625px;
  left:610px;
  border-radius: 25px;
  border:1px solid #ccc;
  padding:10px;
}
