/* TaskList  */
.inputForTask {
  font-size: 12pt;
  display: block;
  padding: 3px;
  margin: auto;
  outline-width: 0;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 5px;
  border: 2px solid #ccc;
  zoom: 0.85;
}

.list {
  outline: none;
}

#leftBlock {
  display: inline-block;
  width: 23%;
  margin: 1%;
  border-radius: 25px;
  border: 1px solid #ccc;
}

#leftMiddleBlock {
  display: inline-block;
  width: 23%;
  margin: 1%;
  border-radius: 25px;
  border: 1px solid #ccc;
}

#rightMiddleBlock {
  display: inline-block;
  width: 23%;
  margin: 1%;
  border-radius: 25px;
  border: 1px solid #ccc;
}

#rightBlock {
  display: inline-block;
  width: 23%;
  margin: 1%;
  border-radius: 25px;
  border: 1px solid #ccc;
}
